.button {
    background-color: #ffffff; /* Green */
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
	border-radius: 4px;
	color: black; 
    border: 2px solid #4CAF50;
}
.button:hover {
    background-color: #4CAF50;
    color: white;
}
.button:focus {
	background-color: #4CAF50;
    color: white;
}
